.HomeScreen-container {
  width: 100%;

}

.HomeScreen-paper {
  max-width:500px;
  margin: 0 auto;
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.HomeScreen-input {
  display: none;
}

.HomeScreen-input-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.HomeScreen-input-row input {
  width: 100%;
}